<ul class="breadcrumb">
    {% for label, url in breadcrumbs %}
        <li>
            {% if url and not loop.last %}
                <a href="{{ url }}">{{ label }}</a>
            {% else %}
                {{ label }}
            {% endif %}
            {% if options.separator and not loop.last %}
                <span class='{{ options.separatorClass }}'>{{ options.separator }}</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
